/* temp for now, change when you need*/
.input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font: 16px Arial, sans-serif;
}

.label
{
    font: 16px Arial, sans-serif;
    margin-bottom: 6px;
    display: block;
}

.homepage
{
    background-color: #f6f6fd;
    font-family: Arial, sans-serif;
    
}

.homepage-button
{
    background-color: rgb(230, 230, 250, .35); /*  */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

