/* temp for now, change when you need*/
.input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font: 16px Arial, sans-serif;
}

.label
{
    font: 16px Arial, sans-serif;
    margin-bottom: 6px;
    display: block;
}

