/* container for homepages images */
.homepage-images 
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 100px auto 0; /* Changed from margin-left to auto margins */
  width: fit-content;
  height: auto;

  
}

.fruit-card 
{
  /* ask about thoughts */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
}

.homepage-images img 
{
  width: 250px;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
}

.fruit-card p 
{
  margin-top: 10px;
  font-size: 16px;
  /* font-weight: 500; */
}


.card-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-container p 
{
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  /* did not know this existed, cool af */
  text-transform: capitalize; 

  color: #222222;
}

#map 
{
  box-shadow: 0 4px 12px rgba(1, 125, 73, 0.4);
  border-radius: 12px;
  margin-top: 5vh; 
  margin-bottom: 5vh; 
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  width: 60%;
}